.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.footer {
	align-items: center;
	bottom: 0px;
	display: flex;
	color: #6c757d;
	gap: 10px;
	margin-bottom: 10px;
	justify-content: center;
	position: absolute;
	width: 100%;
}

.github {
	width: 40px;
}
